.add-btn {
background-color: rgb(255,216,20);
color: DarkSlateGrey;
height: 40px;
width: 199px;
border: solid;
border: none;
border-radius: 20px;
font-size: 15px;
font-weight: bold;
margin-right: 15px;
cursor: pointer;
transition: filter 0.3s,
opacity 0.3s;
}

.add-btn:hover{
filter: brightness(85%);
}

.add-btn:active{
opacity: 0.6;
}

.buy-btn{
background-color: rgb(255,164,28);
color: DarkSlateGrey;
border: none;
border-radius: 20px;
height: 36px;
width: 199px;
font-size: 15px;
font-weight: bold;
cursor: pointer;
transition: filter 0.3s,
opacity 0.3s;
}

.buy-btn:hover{
filter: brightness(85%);
}

.buy-btn:active{
opacity: 0.6;
}

.lien{
color:rgb(0,113,133);
font-size: 25px;

}
.lien:hover{
color: SandyBrown;
transition: color 0.3s;
}
.img{
border-radius: 50%;
position: absolute;
top: 80px;
right: center;
font-size: 18px;
margin-right: auto;
cursor: pointer
}
.img:hover{
box-shadow: 5px 5px 15px black;
}
